[SddmGreeterTheme]
Name=kraken_sddm_theme
Description=sddm theme  for kraken  os 
Author=kraken
Website=https://github.com/n1cef/kraken_sddm_theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
ConfigFile=Themes/astronaut.conf
Screenshot=Previews/astronaut.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-astronaut-theme
Theme-API=2.0
QtVersion=6
